@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p  {
    padding: 10px;
    text-align: center;
}

button {
    display: block;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: lightyellow;
}

.character {
    width: 300px;
    background-color: lightyellow;
    margin: 10px auto 0px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}

.citation {
    width: 300px;
    text-align: center;
    margin: 0px auto;
    border: 1px solid black;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
}